.socials {

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;
    @media screen and (min-width: 767px) {
      flex-direction: row;
    }
  }
}

.icon-footer {
  max-width: 18px;
  max-height: 18px;
  fill: #fff;
  margin: 0;

  &:hover {
    scale: 120%;
    transition: 2s;
  }
}

.logo {
  &:hover{
    scale: 105%;
    transition: 2s;
  }
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 767px) {
    flex-direction: row;
  }
}